@import '/src/variables.scss';

.main_container {
    width: 100%;
    background: none;
    overflow: hidden;
}
.main_container :global .ant-breadcrumb {
    padding: 16px 0 8px 24px;
}

.settings_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110px;
    width: 100%;
    color: black;
    margin-right: 40px;
    margin-bottom: 5px;
}

.wrapper_btn {
    display: flex;
    justify-content: flex-end;
    background-color: #f0f5ff;
}

.wrapper_calendar {
    background-color: #f0f5ff;
    padding-bottom: 93px;
    overflow: hidden;
}

.mobile_wrapper {
    background-color: #f0f5ff;
    padding-bottom: 20px;
}

.calendar {
    background: #f0f5ff;
    margin-left: 24px;
    margin-right: 24px;
}

.calendar :global .ant-picker-body {
    padding: 0 !important;
}

.calendar :global thead {
    background-color: #f0f5ff;
}

.calendar :global .ant-picker-cell .ant-picker-cell-inner {
    position: static;
}

.calendar :global .ant-picker-cell-inner.ant-picker-calendar-date {
    background-color: #fff;
    height: 149px;
}

.calendar :global .ant-picker-panel {
    background-color: #f0f5ff;
}

.calendar :global th {
    color: $text-description-color;
}

.calendar :global .ant-picker-calendar-date-content {
    height: 111px !important;
    overflow: visible !important;
}

.calendar :global .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
    overflow-y: visible;
}

.bluBackground {
    background-color: #f0f5ff;
}

.mobile_calendar {
    margin-left: 24px;
    margin-right: 24px;
}

.select_cell {
    border: 1px solid #2f54eb;
    border-radius: 3px;
}

div.mobile_calendar {
    :global {
        .ant-picker-calendar-header .ant-picker-calendar-year-select {
            width: 77px;
        }

        .ant-picker-body {
            position: relative;
        }

        .ant-picker-calendar-header .ant-picker-calendar-month-select {
            width: 68px;
        }

        .ant-radio-button-wrapper:first-child {
            width: 62px;
        }

        .ant-radio-button-wrapper:last-child {
            width: 41px;
        }

        .ant-picker-calendar-header {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .ant-picker-calendar-header .ant-picker-calendar-mode-switch {
            margin-top: 0;
            margin-left: 8px;
            width: auto;
        }

        .ant-picker-calendar .ant-picker-panel .ant-picker-body {
            padding: 8px;
        }

        tr {
            position: relative;
        }

        .ant-picker-content th,
        .ant-picker-content td {
            position: static;
        }
    }
}

@media (max-width: 834px) {
    .calendar :global .ant-picker-cell-inner.ant-picker-calendar-date {
        height: 143px;
        margin: 0 2px;
    }

    .settings_btn {
        max-width: 110px;
        width: 100%;
        margin-right: 33px;
        margin-bottom: 28px;
    }
}

@media (max-width: 830px) {
    .settings_btn {
        width: auto;
    }
}

@media (max-width: 360px) {
    .settings_btn :global .anticon.anticon-setting {
        color: #262626;
        width: auto;
    }

    .main_container {
        height: 100vh;
    }

    .settings_btn {
        width: auto;
    }
}
