.container__recovery {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Enter_page_light.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.container__recovery:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(121, 156, 213, 0.5);
}

.container__recovery :global .ant-form {
    padding: 64px 32px;
}
