.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 539px;
    width: 100%;
    background-color: #fff;
    padding: 64px 32px;
    z-index: 1;
}

.form :global .ant-btn {
    height: 40px;
    font-size: 16px;
}

.form__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

.password_item {
    max-width: 368px;
    width: 100%;
}

.password_input {
    height: 40px;
}

.password_requirements {
    font-size: 12px;
}

.confirm_item {
    max-width: 368px;
    width: 100%;
}

.confirm_input {
    height: 40px;
}

.sign_in__btn {
    max-width: 368px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(47, 84, 235);
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: rgb(47, 84, 235);
}

@media (max-width: 360px) {
    .form {
        max-width: 328px;
    }

    .form__title {
        text-align: center;
    }
}
