.container :global .ant-form-item {
    margin: 0;
}

.exercises {
    height: 24px;
    margin-bottom: 8px;
}

.descrip__text {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 8px;
}

.repeat,
.weight,
.count {
    font-size: 12px;
    background: #f0f0f0;
    max-width: 120px;
    width: 100%;
    padding: 3px 8px;
    height: 24px;
}

.inputs__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bfbfbf;
    margin-bottom: 24px;
}

.wrapper__weight_count {
    display: flex;
}

.separator {
    margin-left: 7px;
    margin-right: 7px;
}

.addMore_btn {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    width: 100%;
    height: 40px;
}

.delete_btn {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    width: 100%;
    color: #262626;
}

.wrapper__btns {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 0 0 5px 5px;
}

.close__icon {
    position: absolute;
    height: max-content;
    padding: 0;
    text-align: start;
    top: 23px;
    right: 32px;
}

@media (max-width: 360px) {
    .count_input :global .ant-input-number-input {
        height: 24px;
    }

    .weight_input :global .ant-input-number-input {
        height: 24px;
    }

    .repeat_input :global .ant-input-number-input {
        height: 24px;
    }
}
