div.drawer {
    :global {
        .ant-drawer-close {
            margin: 0;
        }

        .ant-drawer-header {
            background: #fff;
            border-bottom: none;
            padding: 24px 32px 0px 32px;
        }

        .ant-drawer-header-title {
            flex-direction: row-reverse;
        }

        .ant-drawer-title {
            font-size: 20px;
            font-weight: 500;
        }

        .ant-drawer-body {
            padding: 24px 32px 0 32px;
            box-shadow: -9px 0 28px -35px rgba(0, 0, 0, 0.05);
            border-radius: 8px 0 0 8px;
        }

        .ant-input-number-group-wrapper {
            width: 120px;
        }

        .ant-input-number-input {
            height: 24px;
        }
    }
}

.exercises {
    height: 24px;
    margin-bottom: 8px;
}

.descrip__text {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 8px;
}

.repeat,
.weight,
.count {
    font-size: 12px;
    background: #f0f0f0;
    max-width: 120px;
    width: 100%;
    padding: 3px 8px;
    height: 24px;
}

.weight,
.count {
    max-width: 89px;
}

.inputs__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bfbfbf;
    margin-bottom: 24px;
}

.wrapper__weight_count {
    display: flex;
}

.separator {
    margin-left: 7px;
    margin-right: 7px;
}

.addMore_btn {
    display: flex;
    align-items: center;

    padding: 7px 12px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
}

.badge__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.selected_trainings,
.date {
    color: #8c8c8c;
}
