.header__table {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // max-width: 511px;
    margin-top: 24px;
}

.header__title {
    padding: 8px;
    max-width: 259px;
    width: 100%;
    background: #f0f0f0;
}

// .select {
//     max-width: 240px;
//     width: 100%;
//     border: none;
//     background: #f0f0f0;
// }

// .select :global .ant-select-selector {
//     background-color: #f0f0f0 !important;
//     height: auto !important;
//     padding: 3px 11px !important;
// }

// .select :global .ant-select-arrow {
//     color: black;
// }

// .select :global .ant-select-selection-placeholder {
//     color: black;
// }

.container__body_table {
    margin-top: 24px;
}

// .training__list_ul {
//     list-style: none;
//     padding: 0;
// }

.new_training__btn {
    max-width: 182px;
    width: 100%;
    height: 40px;
    background-color: #2f54eb;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 32px;
}

@media (max-width: 360px) {
    .header__table {
        max-width: 312px;
    }

    .header__title {
        max-width: 116px;
        padding: 3px 3px;
        font-size: 12px;
        text-align: center;
    }

    .select {
        max-width: 188px;
        font-size: 12px;
    }

    .select :global .ant-select-selector {
        padding: 0 8px !important;
        height: 24px !important;
    }

    .select :global .ant-select-selection-placeholder {
        display: flex;
        align-items: center;
    }

    .select :global .ant-select-selection-item {
        display: flex;
        align-items: center;
    }

    .new_training__btn {
        max-width: none;
    }
}
