.sider {
    padding-top: 47px;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    padding-left: 29px;
    margin-bottom: 67px;
}

.button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    padding: 7px 0 7px 22px;
    border: none;
    border-top: 1px solid #d9d9d9;
}

.trigger {
    width: 20px;
    height: 66px;
    padding-left: 3px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    margin: auto 0;
    background-image: url(/public/block-trigger.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.trigger:hover {
    color: #1890ff;
}
