.container {
    margin: 24px 24px 42px 24px;
    background: #fff;
    padding: 24px;
    border-radius: 5px;
    height: 100%;
}

.tabs {
    height: 100%;
}

div.tabs {
    :global {
        .ant-tabs-nav-list {
            justify-content: space-between;
            width: 100%;
        }

        .ant-tabs-tab {
            padding: 0;
            font-weight: 500;
            font-size: 24px;
            height: 100%;
        }

        .ant-tabs-content-holder,
        .ant-tabs-content,
        .ant-tabs-tabpane {
            height: 100%;
        }

        .ant-tabs-tab + .ant-tabs-tab {
            margin: 0;
        }

        .ant-tabs-tab-active {
            color: #2f54eb;
        }

        .ant-tabs-ink-bar {
            background: #2f54eb;
        }
    }
}

@media (max-width: 834px) {
    div.tabs {
        :global {
            .ant-tabs-tab {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 360px) {
    div.tabs {
        :global {
            .ant-tabs-tab {
                margin-right: 12px;
            }

            .ant-tabs-tab + .ant-tabs-tab {
                margin-right: 12px;
            }

            .ant-tabs-tab-btn {
                padding-bottom: 15px;
            }
        }
    }

    .container {
        margin: 24px 0 42px 0;
        padding: 35px 15px 16px 15px;
    }

    :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap),
    :global(.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap) {
        overflow: visible;
    }
}
