.card__confirm_email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__confirm_email :global .ant-card-body {
    padding: 64px 32px 56px 32px;
}

.card__img {
    width: 80px;
    margin-bottom: 24px;
}

.card__h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    max-width: 380px;
    text-align: center;
    margin: 0;
}

.card__confirm_email :global .ant-typography {
    color: #8c8c8c;
}

.card__descrip {
    font-size: 14px;
    line-height: 130%;
    max-width: 404px;
    text-align: center;
    margin-bottom: 24px;
}

.container {
    margin-bottom: 24px;
}

.character {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2px;
}

.character--inactive {
    border-radius: 2px;
    border: 1px solid white;
}

.containerInactive .character {
    border-color: red;
}

@media (max-width: 360px) {
    .card__confirm_email {
        max-width: 328px;
    }
    .card__confirm_email :global .ant-card-body {
        padding: 32px 16px;
    }

    .card__support_descr {
        text-align: center;
        max-width: 255px;
    }

    .container {
        margin-bottom: 6px;
    }
}
