.card {
    width: 539px;
}

.card :global .ant-card-body {
    padding: 64px 32px;
}

.card :global .ant-btn.ant-btn-default {
    height: 40px;
    padding: 7px 15px 7px 15px;
    border: 1px solid rgb(47, 84, 235);
    background-color: rgb(47, 84, 235);
    color: #fff;
    width: 368px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    &:hover {
        background-color: #fff;
        color: #2f54eb;
    }
}

.card :global .ant-typography {
    color: #8c8c8c;
}

.card__img {
    margin-bottom: 30px;
}

.card__h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 0;
}

.card__descrip {
    text-align: center;
    max-width: 305px;
    line-height: 130%;
    margin-bottom: 24px;
}

@media (max-width: 360px) {
    .card {
        max-width: 328px;
    }

    .card :global .ant-btn.ant-btn-default {
        max-width: 296px;
    }

    .card :global .ant-card-body {
        padding: 32px 16px;
    }

    .card__h3 {
        max-width: 210px;
        text-align: center;
    }
}
