.header {
    padding: 16px 24px;
    width: 100%;
    background-color: #f0f5ff;
}

.settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 129px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    padding: 7px 15px;
}

.title_settings {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    font-size: 38px;
    font-weight: 700;
    line-height: 130%;
    max-width: 900px;
    width: 100%;
    margin: 0;
}

.general {
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

@media (max-width: 834px) {
    .setting_icon {
        display: none;
    }

    .title {
        font-size: 24px;
        font-weight: 500;
        max-width: 617px;
        letter-spacing: 0px;
    }

    .title_settings {
        justify-content: space-between;
        margin-top: 15px;
    }

    .settings {
        padding: 0;
        max-width: 75px;
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 20px;
    }
}
