@import '/src/variables.scss';

.main_container {
    width: 100%;
    background: none;
    overflow: hidden;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f5ff;
    padding: 22px 24px 24px 24px;
}

.title {
    margin: 0;
}

.settings_text {
    color: black;
}
