@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#root {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}
