//text
$header-size: 24px;
$default-size: 14px;
$text-description-color: #8c8c8c;
$header-color: #061178;

$primary-light-6: rgb(47, 84, 235);

//button
$border: 1px solid $primary-light-6;
$border-radius: 2px;
$button-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
$background: $primary-light-6;
