.general_wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.main_container {
    width: 100%;
    background: none;
    overflow: hidden;
}

.main_container :global .ant-breadcrumb {
    padding: 16px 0 16px 24px;
}

.comment {
    border-radius: 2px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.comment :global .ant-card-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
}

.wrapper__img_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
    width: 174px;
}

.comment_img {
    width: 42px;
    margin-bottom: 12px;
}

.comment_name {
    font-size: 16px;
    text-align: center;
    max-width: 120px;
}

.wrapper__description {
    height: 104px;
}

.wrapper__rating_date {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.comment_rate {
    margin-right: 17px;
    font-size: 13px;
}

.comment_date {
    color: #bfbfbf;
    font-size: 13px;
}

.comment_text {
    max-width: 966px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
}

.wrapper__buttons {
    margin-top: 132px;
    margin-left: 24px;
}

.btn__create_feedback {
    height: 40px;
    padding: 7px 15px;
    border: 1px solid rgb(47, 84, 235);
    background-color: rgb(47, 84, 235);
    color: #fff;
    width: 142px;
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    font-size: 14px;
}

.btn__all_feedback {
    font-size: 16px;
    color: #2f54eb;
    margin-left: 23px;
}
